@import url(/css/global.css);
h1 {
    text-align: center;
    margin: 100px 0;
}

form {
    width: 300px;
    margin: 0 auto 100px;
}

#loginBtn {
    width: 300px;
}

#usernameError,
#passwordError {
    display: none;
    font-size: 0.9em;
    color: red;
    margin-top: -20px;
}