* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  background: #ededed;
}

body a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 50px;
  margin-bottom: 100px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #191919;
  color: white;
  padding: 50px 0;
}

footer p {
  margin: 0;
}

.title {
  text-align: center;
  margin: 50px auto;
}

@media all and (min-width: 650px) {
  main {
    margin-top: 70px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #191919;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu .fa-bars {
  color: white;
  font-size: 1.7em;
  cursor: pointer;
}

nav {
  display: none;
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav .menu__nav--links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav a {
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
}

nav a:hover {
  color: #ff00fb;
}

nav .active {
  color: black;
  background-color: #ffccfe;
  border-radius: 3px;
}

nav .fa-xmark {
  color: white;
  font-size: 2em;
  float: inline-end;
  margin: 10px 20px;
  cursor: pointer;
}

@media all and (min-width: 650px) {
  .menu {
    padding: 20px;
  }
  .menu .fa-bars {
    display: none;
  }
  nav {
    display: initial;
    background-color: initial;
    position: initial;
  }
  nav .menu__nav--links {
    display: block;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
  nav a {
    font-size: 1em;
    padding: 10px;
  }
  nav .fa-xmark {
    display: none;
  }
}

@media all and (min-width: 800px) {
  nav a {
    margin: 0 30px;
  }
}

@media all and (min-width: 950px) {
  nav a {
    font-size: 1.2em;
    margin: 0 40px;
  }
}

.button,
button {
  font-size: 11pt;
  background-color: #ff00fb;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
  padding: 10px 30px;
  min-width: 120px;
  cursor: pointer;
  transition: .5s ease;
}

.button:hover,
button:hover {
  padding: 5px 50px;
  margin: 5px auto;
  background-color: #ff66fd;
}

.danger {
  background-color: red;
}

.danger:hover {
  background-color: #ff6666;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  animation: loader 1s linear infinite;
}

.loader .fa-spinner {
  font-size: 2.5em;
  color: #279c00;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

label {
  display: block;
}

input,
textarea {
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
  padding: 10px;
}

input:focus,
textarea:focus {
  border: 3px solid #279c00;
  outline: none;
}

textarea {
  height: 100px;
}

.isFeatured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.isFeatured input {
  display: none;
  cursor: pointer;
}

.isFeatured input:checked ~ .checkbox {
  background-color: #7cff7c;
}

.isFeatured input:checked ~ .checkbox::after {
  content: "Yes";
}

.isFeatured input:checked ~ .checkbox:hover {
  background-color: #b6ffb6;
}

.isFeatured .checkbox {
  height: 30px;
  width: 40px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #b1b1b1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.isFeatured .checkbox::after {
  content: "No";
}

.isFeatured .checkbox:hover {
  background-color: #ccc;
}

.message-container {
  text-align: center;
  margin: 10px auto;
}

.message-container .success {
  background-color: #68ff36;
  border: 2px solid #279c00;
  border-radius: 3px;
  padding: 10px;
}

.message-container .warning {
  background-color: #ffcc66;
  border: 2px solid #ffaa00;
  border-radius: 3px;
  padding: 10px;
}

.message-container .error {
  background-color: #ff6666;
  border: 2px solid red;
  border-radius: 3px;
  padding: 10px;
}

.banner {
  display: flex;
  place-content: center;
  background-color: #ff00fb;
  border-radius: 0 0 0 100%;
}

.banner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 200% 0;
}

.intro {
  text-align: center;
  margin: 0 10px 100px;
}

.intro .btn__container {
  margin-top: 30px;
}

.featured {
  width: 90%;
  margin: 100px auto;
  text-align: center;
}

.featured h2 {
  font-size: 2em;
}

.featured h3 {
  margin: 0;
}

.featured .featured__products {
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
}

.featured .featured__products .featured__products--item {
  margin: 10px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}

.featured .featured__products .featured__products--item:hover .featured__products--overlay {
  opacity: 1;
  margin-top: -300px;
  padding: 139px 0;
}

.featured .featured__products .featured__products--img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.featured .featured__products .featured__products--overlay {
  opacity: 0;
  margin-top: -22px;
  background-color: gray;
  width: 300px;
  transition: .5s ease-in;
  border-radius: 3px;
}

.adds .adds__discount,
.adds .adds__newsletter,
.adds .adds__brand {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 50px 5px;
  transition: 1s ease;
}

.adds h3 {
  font-size: 1.5em;
}

.adds .adds__discount {
  background-color: #279c00;
  border-radius: 40% 5px 5px 40%;
}

.adds .adds__discount:hover {
  border-radius: 5px 40% 40% 5px;
}

.adds .adds__discount h3 {
  text-transform: uppercase;
  font-style: italic;
  margin: 0 auto;
  animation: color 5s infinite ease;
}

@keyframes color {
  4% {
    margin-bottom: 30px;
  }
  8% {
    margin-bottom: 0px;
  }
  12% {
    margin-bottom: 20px;
  }
  16% {
    margin-bottom: 0px;
  }
  20% {
    margin-bottom: 10px;
  }
  24% {
    margin-bottom: 0px;
  }
}

.adds .adds__newsletter {
  justify-content: end;
  background-image: url("/image/addGreen.jpg");
  background-position-x: left 15%;
  border-radius: 40% 5px 5px 40%;
}

.adds .adds__newsletter:hover {
  border-radius: 5px 40% 40% 5px;
}

.adds .adds__newsletter h3 {
  margin-right: 10%;
}

.adds .adds__brand {
  background-image: url("/image/addRunner.jpg");
  background-position-x: right 15%;
  border-radius: 5px 40% 40% 5px;
}

.adds .adds__brand:hover {
  border-radius: 40% 5px 5px 40%;
}

.adds .adds__brand h3 {
  margin-left: 10%;
}

@media all and (min-width: 530px) {
  .banner img {
    height: 500px;
  }
  .adds .adds__brand h3 {
    margin-left: 15%;
  }
}

@media all and (min-width: 650px) {
  .banner img {
    height: 550px;
  }
  .featured {
    width: 80%;
  }
  .adds h3 {
    font-size: 2em;
  }
  .adds .adds__brand h3 {
    margin-left: 25%;
  }
}

@media all and (min-width: 800px) {
  .banner img {
    height: 600px;
  }
  .adds .adds__discount {
    border-radius: 150px 10px 10px 150px;
  }
  .adds .adds__discount:hover {
    border-radius: 10px 150px 150px 10px;
  }
  .adds .adds__newsletter {
    border-radius: 150px 10px 10px 150px;
  }
  .adds .adds__newsletter:hover {
    border-radius: 10px 150px 150px 10px;
  }
  .adds .adds__newsletter h3 {
    margin-right: 15%;
  }
  .adds .adds__brand {
    border-radius: 10px 150px 150px 10px;
    background-position-x: right;
  }
  .adds .adds__brand:hover {
    border-radius: 150px 10px 10px 150px;
  }
}

@media all and (min-width: 950px) {
  .banner img {
    height: 750px;
  }
  .featured .featured__products--item {
    margin: 0 50px;
  }
  .adds h3 {
    font-size: 2.5em;
  }
  .adds .adds__discount:hover,
  .adds .adds__newsletter:hover,
  .adds .adds__brand:hover {
    border-radius: 10px;
  }
  .adds .adds__discount {
    height: 250px;
    border-radius: 10px;
  }
  .adds .adds__newsletter {
    max-width: 1300px;
    margin-right: 10px;
    margin-left: auto;
  }
  .adds .adds__newsletter h3 {
    margin-right: 25%;
  }
  .adds .adds__brand {
    max-width: 1300px;
    margin-right: auto;
    margin-left: 10px;
  }
  .adds .adds__brand h3 {
    margin-left: 35%;
  }
}

@media all and (min-width: 1400px) {
  .banner img {
    height: 850px;
  }
}

.adds.products {
  margin: 0;
}

.adds.products .adds__discount.products {
  margin: 0 5px;
  height: 150px;
  border-radius: 5px;
}

.products {
  margin: 50px auto;
}

.products .products__searchField {
  text-align: center;
  margin: 20px auto;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__container .products__item {
  width: 250px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  margin: 20px;
}

.products__container .products__item img {
  border-radius: 3px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.products__container .products__item .products__item--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.products__container .products__item:hover {
  transform: scale(1.05);
}

@media all and (min-width: 950px) {
  .adds.products h3 {
    font-size: 2em;
  }
}

.breadcrumb {
  display: flex;
  margin-left: 20px;
}

.breadcrumb p {
  margin-left: 10px;
}

.breadcrumb .active {
  color: gray;
}

.product {
  margin: 50px auto;
}

.product .product__container {
  width: 320px;
  margin: 0 auto;
}

.product .product__image {
  display: flex;
  place-content: center;
}

.product .product__image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  cursor: pointer;
}

.product .product__info {
  margin: 0 auto;
}

.product .product__info .price {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}

.product .products__btn {
  display: flex;
  place-content: center;
}

.product__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 251, 0.9);
  cursor: pointer;
}

.product__modal img {
  width: 90%;
  max-width: 800px;
  max-height: 70%;
  object-fit: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

@media all and (min-width: 600px) {
  .product .product__container {
    width: 350px;
  }
  .product .product__image img {
    width: 350px;
    height: 350px;
  }
}

@media all and (min-width: 750px) {
  .product {
    margin: 100px auto;
  }
  .product .product__container {
    display: grid;
    grid-template-columns: 360px auto;
    width: 750px;
    padding: 0 20px;
  }
  .product .product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 30px;
    margin: 0 auto;
  }
  .product .product__info h1 {
    margin-top: 0;
  }
  .product .product__info .price {
    font-size: 1.3em;
  }
}

@media all and (min-width: 800px) {
  .product .product__container {
    width: 800px;
  }
  .product .product__info {
    padding: 0 0 0 50px;
  }
}

@media all and (min-width: 900px) {
  .product .product__container {
    width: 900px;
    padding: 0 40px;
  }
  .product .product__info {
    padding: 0 0 0 70px;
  }
}

.profile .title {
  margin-bottom: 0;
}

.profile .profile__logout {
  display: flex;
  place-content: center;
  margin: 0;
}

.products__admin {
  margin: 100px 20px;
}

.products__admin h2 {
  text-align: center;
}

.products__admin .products__container--add {
  width: 300px;
  margin: 100px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  border-radius: 3px;
  padding: 20px;
}

.products__admin .products__container--add form input,
.products__admin .products__container--add form textarea,
.products__admin .products__container--add form .isFeatured {
  width: 260px;
}

.products__admin .products__container--add .btn__container {
  display: flex;
  place-content: center;
  margin: 20px;
}

.products__admin .manage .products__searchField {
  text-align: center;
  margin: 20px auto;
}

.products__admin .manage .products__container--manage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__admin .manage .products__container--manage .products__item {
  width: 150px;
  max-height: 202px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
  margin: 20px;
}

.products__admin .manage .products__container--manage .products__item h3,
.products__admin .manage .products__container--manage .products__item p {
  font-size: .9em;
  margin: 5px auto;
}

.products__admin .manage .products__container--manage .products__item img {
  border-radius: 3px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.products__admin .manage .products__container--manage .products__item .products__item--info {
  text-align: center;
}

.products__admin .manage .products__container--manage .products__item:hover {
  transform: scale(1.05);
}

@media all and (min-width: 500px) {
  .products__admin .products__container--add {
    width: 400px;
    padding: 30px;
  }
  .products__admin .products__container--add form,
  .products__admin .products__container--add .message-container {
    width: 260px;
    margin: 10px auto;
  }
}

@media all and (min-width: 900px) {
  .products__admin {
    display: grid;
    grid-template-columns: 450px auto;
    max-width: 1400px;
    margin: 100px auto;
  }
  .products__admin .products__container--add {
    margin: 0 auto 0 40px;
    max-height: 600px;
  }
  .products__admin .manage h2 {
    margin-top: 0;
  }
  .products__admin .products__container--manage {
    height: 500px;
    overflow-x: scroll;
  }
}

@media all and (min-width: 1200px) {
  .products__admin {
    grid-template-columns: 500px auto;
  }
  .products__admin .products__container--add {
    margin: 0 auto 0 60px;
  }
}

.editProduct {
  width: 250px;
  margin: 50px auto;
}

.editProduct .btn__container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.editProduct .btn__container button {
  margin: 5px auto;
}

.cart {
  text-align: center;
}

.cart p {
  margin-bottom: 30px;
}

.cart .cart__item {
  display: flex;
  justify-content: center;
  text-align: left;
}

.cart .cart__item--info {
  width: 350px;
  display: grid;
  grid-template-columns: 80px 100px auto 50px;
  gap: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  background-color: white;
  padding: 10px;
  margin: 0 auto 10px;
}

.cart .cart__item--info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 3px;
}

.cart .cart__item--info h4 {
  margin: 0;
}

.cart .cart__item--info .cart__item--link a {
  font-size: 0.8em;
  text-decoration: underline;
}

.cart .cart__item--info .cart__item--price,
.cart .cart__item--info .cart__item--delete {
  text-align: right;
}

.cart .cart__item--info .fa-trash-can:hover {
  color: #ffaa00;
  cursor: pointer;
}

.summary {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  background-color: white;
  width: 350px;
  margin: 50px auto;
  padding: 20px;
}

.summary h2 {
  text-align: center;
  margin: 5px auto;
}

.summary .summary__info {
  text-align: center;
}

.summary .summary__info--products .products__info {
  display: flex;
  justify-content: space-between;
}

.summary .summary__info--products .products__info p {
  margin: 5px 0;
}

.summary .summary__info--total {
  text-align: right;
}

.summary .summary__info--total p {
  font-weight: bold;
}

.checkout {
  display: flex;
  place-content: center;
}

@media all and (min-width: 900px) {
  .cart__container {
    display: flex;
    max-width: 1100px;
    margin: 100px auto;
  }
  .cart__container .cart,
  .cart__container .summary {
    margin: 0px auto;
  }
  .cart__container .summary {
    max-height: 300px;
  }
  .cart__container .summary .summary__info .summary__info--products {
    max-height: 200px;
    overflow-x: scroll;
  }
}

.logIn {
  width: 300px;
  margin: 50px auto;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  padding: 20px;
}

.logIn .message-container {
  width: 250px;
}

.logIn form {
  width: 250px;
  margin: 0 auto;
}

.logIn form input {
  margin: 15px auto;
}

.logIn form #usernameError,
.logIn form #passwordError {
  display: none;
  margin: -10px auto 10px;
  color: red;
  font-size: .9em;
}

.logIn .btn__container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

@media all and (min-width: 500px) {
  .logIn {
    width: 350px;
    padding: 40px;
  }
}

@media all and (min-width: 800px) {
  .logIn {
    width: 450px;
    padding: 50px;
  }
}
/*# sourceMappingURL=style.css.map */