//Colors
$primary-color: rgb(0, 84, 117);
$secondary-color: rgb(255, 179, 49);
$background-color: rgb(237, 237, 237);
$theme-black: rgb(25, 25, 25);
//Colors - Messages
$success-color:rgb(75, 140, 54);
$warning-color:rgb(237, 178, 0);
$danger-color:rgb(186, 0, 0);
$error-color:rgb(186, 0, 0);