.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(25, 25, 25);
    a {
        font-family: $link-font, sans-serif;
        color: white;
        text-decoration: none;
    }
    .fa-bars {
        color: white;
        font-size: 1.7em;
        cursor: pointer;
    }
}

nav {
    display: none;
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .menu__nav--links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        font-family: $link-font, sans-serif;
        color: white;
        font-size: 1.3em;
        text-align: center;
        padding: 10px 20px;
        margin: 10px;
        &:hover {
            color: $primary-color;
        }
    }
    .active {
        color: black;
        background-color: lighten($primary-color, 40%);
        border-radius: 3px;
    }
    .fa-xmark {
        color: white;
        font-size: 2em;
        float: inline-end;
        margin: 10px 20px;
        cursor: pointer;
    }
}

@media all and (min-width: 650px) {
    .menu {
        padding: 20px;
        .fa-bars {
            display: none;
        }
    }
    nav {
        display: initial;
        background-color: initial;
        position: initial;
        .menu__nav--links {
            display: block;
            position: initial;
            top: initial;
            left: initial;
            transform: initial;
        }
        a {
            font-size: 1em;
            padding: 10px;
        }
        .fa-xmark {
            display: none;
        }
    }
}

@media all and (min-width: 800px) {
    nav {
        a {
            margin: 0 30px;
        }
    }
}

@media all and (min-width: 950px) {
    nav {
        a {
            margin: 0 40px;
        }
    }
}