//Colors
$primary-color: rgb(255, 0, 251);
$secondary-color: rgb(39, 156, 0);
$tertiary-color: rgb(255, 170, 0);
//Colors - Messages
$success-color:rgb(39, 156, 0);
$warning-color:rgb(255, 170, 0);
$danger-color:rgb(255, 0, 0);
$error-color:rgb(255, 0, 0);