.profile {
    .title {
        margin-bottom: 0;
    }
    .profile__logout {
        display: flex;
        place-content: center;
        margin: 0;
    }
}

.products__admin {
    margin: 100px 20px;
    h2 {
        text-align: center;
    }
    .products__container--add {
        width: 300px;
        margin: 100px auto;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
        border-radius: 3px;
        padding: 20px;
        form {
            input,
            textarea,
            .isFeatured {
                width: 260px;
                max-width: 260px;
            }
        }
        .btn__container {
            display: flex;
            place-content: center;
            margin: 20px;
        }
    }
    .manage {
        .products__searchField {
            text-align: center;
            margin: 20px auto;
        }
        .products__container--manage {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .products__item {
                width: 150px;
                max-height: 210px;
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
                margin: 20px;
                img {
                    border-radius: 3px;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
                .products__item--info {
                    text-align: center;
                    h3,
                    p {
                        word-wrap: break-word;
                        font-size: .9em;
                        margin: 5px auto;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media all and (min-width:500px) {
    .products__admin {
        .products__container--add {
            width: 400px;
            padding: 30px;
            form,
            .message-container {
                width: 260px;
                margin: 10px auto;
            }
        }
    }
}

@media all and (min-width:900px) {
    .products__admin {
        display: grid;
        grid-template-columns: 450px auto;
        max-width: 1400px;
        margin: 100px auto;
        .products__container--add {
            margin: 0 auto 0 40px;
            max-height: 600px;
        }
        .manage h2 {
            margin-top: 0;
        }
        .products__container--manage {
            height: 500px;
            overflow-x: scroll;
        }
    }
}

@media all and (min-width:1200px) {
    .products__admin {
        grid-template-columns: 500px auto;
        .products__container--add {
            margin: 0 auto 0 60px;
        }
    }
}