.editProduct {
    width: 300px;
    margin: 50px auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    padding: 20px;
    form {
        width: 250px;
        margin: 0 auto;
        input,
        textarea {
            max-width: 250px;
            margin-bottom: 10px;
        }
    }
    .btn__container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        button {
            margin: 5px auto;
        }
    }
}

@media all and (min-width: 500px) {
    .editProduct {
        width: 350px;
        padding: 30px;
        form {
            width: 260px;
            input,
            textarea,
            .isFeatured {
                width: 260px;
                max-width: 260px;
            }
        }
    }
}

@media all and (min-width: 700px) {
    .editProduct {
        width: 500px;
        padding: 40px;
    }
}