.logIn {
    width: 300px;
    margin: 50px auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    padding: 20px;
    .message-container {
        width: 250px;
    }
    form {
        width: 250px;
        margin: 0 auto;
        input {
            margin: 15px auto;
        }
        #usernameError,
        #passwordError {
            display: none;
            margin: -10px auto 10px;
            color: $error-color;
            font-size: .9em;
        }
    }
    .btn__container {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}

@media all and (min-width:500px) {
    .logIn {
        width: 350px;
        padding: 40px;
    }
}

@media all and (min-width:800px) {
    .logIn {
        width: 450px;
        padding: 50px;
    }
}